@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Montserrat:wght@300;400&family=Roboto:wght@300&display=swap");

:root {
  --border-color: rgb(129, 129, 129);
  --primary: rgb(85, 75, 194);
  --primary-hover: rgb(170, 164, 235);
  --text-primary: 14px;
  --text-large: 18px;
}

body {
  font-family: montserrat;
  font-weight: 300;
}

.bmi-calculator-container {
  border: 1px solid var(--border-color);
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-height: 30rem;
  border-radius: 10px;
}

.bmi-definition-container {
  border-bottom: 1px solid var(--border-color);
}

.bmi-definition-container > h1 {
  margin: 0;
  padding: 1rem 0 0 1.5rem;
}

.bmi-definition-container > p {
  margin: 0;
  padding: 1rem 1.5rem;
  text-align: justify;
}

.bmi-form-container {
  padding: 1.5rem;
}

.btn {
  padding: 0.25rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  font-size: var(--text-primary);
  color: #fff;
  background-color: var(--primary);
  transition: 0.2s linear background-color;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.bmi-result {
  padding-left: 1.5rem;
}

form.bmi-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bmi-form-label {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: var(--text-primary);
}

.bmi-input {
  height: 20px;
  border-radius: 6px;
  border: 0.5px solid var(--border-color);
  outline: none;
  padding-left: 6px;
  display: block;
}

.single-input-wrapper {
  display: flex;
  flex-direction: column;
}

select.select-input {
  font-size: var(--text-primary);
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  background-color: var(--primary);
  color: #fff;
  outline: none;
}

select.select-input:hover {
  cursor: pointer;
}

div.units-input {
  margin-bottom: 1rem;
}
